@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.pointer-cursor {
  cursor: pointer;
}

img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
}

.ymaps-layers-pane {

	filter: grayscale(1);

	-ms-filter: grayscale(1);

	-webkit-filter: grayscale(1);

	-moz-filter: grayscale(1);

	-o-filter: grayscale(1);

}
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }
html, body { height: 100%; }
body { font: 16px/1.4 Arial, sans-serif; color: #000; background: #fff; }
a { color: #0081FF; text-decoration: underline; cursor: pointer; }
a:hover { text-decoration: none; }
h1 { font-size: 26px; }
h2 { font-size: 15px; }
h3 { font-size: 13px; }
h4 { font-size: 12px; }
h1, h2, h3, h4 { line-height: 1.2; }
li { margin-left: 25px; }
b, strong { font-weight: bold; }
img { border: 0; max-width: 100%; }
hr { box-sizing: content-box; height: 0; }
table { border-collapse: collapse; border-spacing: 0; }
th, td { text-align: left; padding: 0; }
sub, sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 1;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace; font-size: 1em; }
fieldset { border: 0; }
input { vertical-align: middle; }
input[type="text"],
input[type="email"],
input[type="tel"],
textarea { -webkit-appearance: none; }
input[type="button"],
input[type="submit"],
input[type="reset"],
button { cursor: pointer; overflow: visible; -webkit-appearance: button; }
button[disabled], input[disabled] { cursor: default; }
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="search"] {
  padding: 2px 6px;
  border: 1px solid #787878;
  background: #fff;
  font: inherit; color: inherit;
}
textarea {
  vertical-align: top;
  padding: 3px 6px;
  overflow: auto;
  border: 1px solid #787878;
  background: #fff;
  font: inherit; color: inherit;
}
select {
  vertical-align: middle;
  border: 1px solid #787878;
  background: #fff;
  font: inherit; color: inherit;
}
input::-webkit-input-placeholder { color: #ccc !important; }
input::-moz-placeholder { color: #ccc !important; }
input:-ms-input-placeholder { color: #ccc !important; }
